body {
  background-color: black;
  font-family: Lucida Console;
  height: 100%;
  overflow: hidden;
}
#background {
  z-index: -1000;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}
#nav {
  text-align: center;
  margin-right: 4%;
}
#nav ul{

  list-style-type: none;
}
#nav ul li {
  display: inline;
}
.loading {
  position: absolute;
  top: 200px;
  color: white;
  text-align: center;
  width: 100%;
  letter-spacing: 7px;
  font-size: 30px;
}
.game-play{
  display:none;
}
.high-scores{
  display:none;
}
.game-over{
  display:none;
}
.about{
  display:none;
}
.controls{
  display:none;
}
.enterName{
  display:none;
}
.main{
  display:block;
  z-index: 20;
  min-width: 660px;
}
.custButton:hover{
  background-color: #3399FF;
  color: #000000;
  border-color: #000000;
  box-shadow: 2px 2px 5px #888888;

}
.custButton{
  font-family:Lucida Console;
  font-size: 100%;
  font-weight: bold;
  width: 12%;
  min-width: 140px;
  padding-top: 5px;
  padding-bottom: 5px;

  color: #3399FF;
  border-style: solid;
  background-color: rgba(0,0,0, .7);
  border-color: #3399FF;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;


}
.quitButton:hover{
  position: absolute;
  z-index: 20;
  font-family:Lucida Console;
  font-size: 100%;
  font-weight: bold;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #3399FF;
  color: #000000;
  border-style: solid;
  border-color: #000000;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #888888;

}
.quitButton{
  position: absolute;
  text-align: center;
  z-index: 20;
  font-family:Lucida Console;
  font-size: 100%;
  font-weight: bold;
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgba(0,0,0, .7);
  color: #3399FF;
  border-style: solid;
  border-color: #3399FF;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000000;
}
.hyperProgressBar{
  position: fixed;
  z-index: 20;
  text-align: center;
  font-family:Lucida Console;
  font-size: 9px;
  letter-spacing: 7px;
  font-weight: bold;
  width: 175px;
  height: 15px;
  bottom: 2px;
  left: 6px;
  color: rgba(0,0,0);

}
.hyperProgress{
  position: fixed;
  z-index: -5;
  width: 170px;
  height: 15px;
  bottom: 5px;
  left: 6px;
  background-color: rgba(173, 255, 255, .9);
  border-style: none;
  border-color: #3399FF;
  border-radius: 5px;
}
.shieldProgressBar{
  position: fixed;
  z-index: 20;
  text-align: center;
  font-family:Lucida Console;
  font-size: 9px;
  letter-spacing: 7px;
  font-weight: bold;
  width: 170px;
  height: 15px;
  bottom: 2px;
  right: 6px;

}
.shieldProgress{
  position: fixed;
  z-index: -5;
  width: 170px;
  height: 15px;
  bottom: 5px;
  right: 6px;
  background-color: rgba(173, 255, 255, .9);
  border-style: none;
  border-color: #3399FF;
  border-radius: 5px;
}
.shields {
  position: fixed;
  bottom: 20px;
  right: 5px;

}
.shield-images {
  height: 45px;
  margin-left: -8px;
  visibility: visible;
}
.ships {
  position: fixed;
  bottom: 14px;
  left: 5px;
}
.ship-images {
  width: 50px;
  margin-right: -20px;
}
.logo{
  color: #3399FF;
  letter-spacing: 30px;

  text-align: center;
  text-shadow: 2px 2px 5px #888888;
}

.gameInfo{
  color: #000000;
  letter-spacing: 10px;
  z-index: 20;
  text-align: center;
  text-shadow: -1px 0 #3399FF , 0 1px #3399FF , 1px 0 #3399FF , 0 -1px #3399FF ;
  width: 80%;
  min-width: 800px;
}
.gameInfo li{
  display: inline;
  font-size: 150%;
  margin-left: 8%;
}
.info{

  color: #000000;
  letter-spacing: 10px;
  background-color: rgba(0,0,0, .8);
  padding-top: 2%;
  padding-bottom: 2%;
  width: 50%;
  min-width: 600px;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  border-style: solid;
  border-color: #3399FF;
  text-shadow: -1.5px 0 #3399FF , 0 1px #3399FF , 1.5px 0 #3399FF , 0 -1px #3399FF ;

}
.labelControl {
  text-align: right;
  font-size: 20px;
   width: 90%;

   clear: both;
}
.labelControl .inputUser{
  float: right;
  border-radius: 2px;
  color: #3399FF;
  font-size: 20px;
  text-align: center;
    margin-top: -4px;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-right: 30px;
  width: 20px;
  background-color: rgba(0,0,0, .8);
  border-color: #3399FF;
}
.labelControl .labelUser{
  float: right;
  border-radius: 2px;
  color: #3399FF;
  font-size: 20px;
  text-align: center;
    margin-top: -4px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 20px;
  width: 50px;
  background-color: rgba(0,0,0, .8);
  border-color: #3399FF;
}
.labelControl .inputDefault{
  float: right;
  border-radius: 2px;
  color: #3399FF;
  font-size: 20px;
  text-align: center;
    margin-top: -4px;
    margin-bottom: 5px;
    margin-right: 15%;
  width: 110px;
  background-color: rgba(0,0,0, .8);
  border-color: #3399FF;
}
.labelHighScore {
  font-size: 20px;

}
.labelHighScore input{

  border-radius: 2px;
  color: #3399FF;
  font-size: 20px;
  text-align: center;
    margin-top: -4px;
    margin-bottom: 5px;
    margin-left: 10px;

  background-color: rgba(0,0,0, .8);
  border-color: #3399FF;
}

#canvas-main{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  text-align: center;
  z-index: -5;
}

.player-lives{
  color: #3399FF;
}